.sprite {
  background: url('./../img/article_footer_icons_v1.svg') no-repeat 0 0;
  background-size: 1.2rem 0.72rem;

  &.sprite-star {
    background-position: 2% 6.897%;
    width: 0.2rem;
    height: 0.44rem;
  }

  &.sprite-wc {
    background-position: 26.263% 3.846%;
    width: 0.22rem;
    height: 0.2rem;
  }

  &.sprite-share {
    background-position: 50% 5.556%;
    width: 0.18rem;
    height: 0.18rem;
  }

  &.sprite-comment {
    background-position: 74% 5.66%;
    width: 0.2rem;
    height: 0.2rem;
  }

  &.sprite-write {
    background-position: 97.059% 5.556%;
    width: 0.18rem;
    height: 0.18rem;
  }
}
