// box-space
@each $space-type-key, $space-type-value in $space-types {
  @each $space-size-key, $space-size-value in $space-sizes {
    // m-1 p-1
    .#{$space-type-key}-#{$space-size-key} {
      #{$space-type-value}: $space-size-value * $space-base-size;
    }

    // mx-1 px-1
    .#{$space-type-key}x-#{$space-size-key} {
      #{$space-type-value}-left: $space-size-value * $space-base-size;
      #{$space-type-value}-right: $space-size-value * $space-base-size;
    }

    // my-1 py-1
    .#{$space-type-key}y-#{$space-size-key} {
      #{$space-type-value}-top: $space-size-value * $space-base-size;
      #{$space-type-value}-bottom: $space-size-value * $space-base-size;
    }

    // mt-1 pt-1
    @each $space-dir-key, $space-dir-value in $space-directions {
      .#{$space-type-key}#{$space-dir-key}-#{$space-size-key} {
        #{$space-type-value}-#{$space-dir-value}: $space-size-value *
          $space-base-size;
      }
    }
  }
}

@each $border-dir-key, $border-dir-value in $space-directions {
  // bb-1
  .b#{$border-dir-key}-1 {
    border-#{$border-dir-value}: 1px solid $border-color;
  }
}

.bb-1px {
  position: relative;
  &::after {
    display: block;
    content: '';
    width: 100%;
    height: 0.02rem;
    background-color: #e0e0e0;
    transform: scaleY(0.5);
    transform-origin: left bottom;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

// 1px ???
.b-1 {
  border: 1px solid $border-color;
}

// box-shadow
.box-shadow {
  box-shadow: 2px 2px 2px 2px $box-shadow-color;
}

.text-shadow {
  text-shadow: 5px 5px 2px $text-shadow-color;
}

.br-50 {
  border-radius: 50%;
}

// box-width box-height
@each $width-key,
  $width-value
    in (10: 0.1, 16: 0.16666, 20: 0.2, 25: 0.25, 33: 0.33333, 50: 0.5, 100: 1)
{
  .w-#{$width-key} {
    width: $width-value * 100% !important;
  }
}

.h-100 {
  height: 100% !important;
}

.vw-100 {
  width: 100vw !important;
}

.vh-100 {
  height: 100vh !important;
}
