// flex
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

$flex-jc: (
  start: flex-start,
  center: center,
  end: flex-end,
  around: space-around,
  between: space-between
);

$flex-ai: (
  start: flex-start,
  center: center,
  end: flex-end,
  stretch: stretch
);

@each $jc-key, $jc-value in $flex-jc {
  .jc-#{$jc-key} {
    justify-content: $jc-value;
  }
}

@each $ai-key, $ai-value in $flex-ai {
  .ai-#{$ai-key} {
    align-items: $ai-value;
  }
}

// display
@each $display-var in (block, inline, inline-block, none) {
  .d-#{$display-var} {
    display: $display-var;
  }
}

// position
@each $position-var in (static, relative, absolute, fixed, sticky) {
  .p-#{$position-var} {
    position: $position-var;
  }
}

@each $z-index-var in (10, 100, 999, 1000) {
  .z-#{$z-index-var} {
    z-index: $z-index-var;
  }
}

// float
$float: (
  l: left,
  r: right
);
@each $float-key, $float-value in $float {
  .float-#{$float-key} {
    float: $float-value;
  }
}

.bfc {
  overflow: hidden;
}
