@import './help';
html {
  font-size: 16px;
}

@media screen and (max-width: 320px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 540px) {
  html {
    font-size: 20px;
  }
}

body {
  font: 16px/1.5 -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'Microsoft Yahei', sans-serif;
  color: #333;
  background: #f1f1f1;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -webkit-user-select: text;
  word-break: break-all;
  word-wrap: break-word;
}

.nav {
  &.nav-home {
    height: 0.88rem;
    line-height: 0.88rem;
    .nav-link {
      position: relative;
      &.nuxt-link-exact-active::after {
        display: block;
        content: '';
        width: 0.36rem;
        height: 0.06rem;
        background-color: rgba(103, 245, 255, 1);
        position: absolute;
        bottom: 0.06rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &.nav-channel-home {
    box-shadow: 0px 1px 6px 0px rgba(0, 69, 189, 0.1);
    border-radius: 0.12rem;
    padding-left: 0.09rem;
    .nav-link {
      width: 1.12rem;
      height: 0.34rem;
      line-height: 0.34rem;
      margin-bottom: 0.2rem;
    }
  }

  &.nav-channel-custom {
    .nav-link {
      height: 0.68rem;
      line-height: 0.68rem;
      border-radius: 0.08rem;
    }
  }

  &.nav-bottom {
    padding: 0.14rem 0.18rem;
    .nav-item {
      width: 14.2857%;
      height: 0.64rem;
      line-height: 0.64rem;
    }
  }
}

.news {
  .news-item {
    position: relative;
    &::after {
      display: block;
      content: '';
      height: 1px;
      width: 100%;
      position: absolute;
      bottom: 0;
      transform: scaleY(0.5);
      background-color: $border-color;
    }
    .news-item-title {
      color: #222222;
      font-size: 0.36rem;
      line-height: 0.52rem;
    }
    .news-item-info {
      font-size: 0.24rem;
      line-height: 0.32rem;
      color: #828c9b;
      span {
        margin-right: 0.18rem;
      }
    }
    .news-item-cover {
      width: 2.22rem;
      height: 1.4666rem;
      border-radius: 0.08rem;
    }
  }

  &.news-swiper {
    .swiper-slide.swiper-slide-prev {
      padding: 0.24rem 0.32rem 0 0.3rem !important;
    }
    .swiper-slide.swiper-slide-active {
      padding: 0.24rem 0.32rem 0 0.3rem !important;
      margin-right: -35px;
      box-shadow: 0px 1px 4px 0px rgba(5, 24, 74, 0.16);
      border-radius: 0.04rem;
    }
    .swiper-slide.swiper-slide-next {
      padding: 0.24rem 0.32rem 0 0.3rem !important;
      box-shadow: 0px 1px 4px 0px rgba(5, 24, 74, 0.16);
      border-radius: 0.04rem;
    }
    .news-item-title {
      font-size: 0.32rem;
      line-height: 0.48rem;
    }
    .news-item-info {
      margin-bottom: 9px;
    }
    .news-item-cover {
      width: 1.98rem;
      height: 1.3rem;
      border-radius: 0.06rem;
    }
  }
}

.video {
  overflow: hidden;
  .video-item {
    overflow: hidden;
    margin: 0.24rem 0 0 0;
    padding: 0 0.3rem;
    position: relative;
    &::after {
      display: block;
      content: '';
      height: 1px;
      width: 100%;
      position: absolute;
      bottom: 0;
      transform: scaleY(0.5);
      background-color: $border-color;
    }
    .video-item-title {
      color: #222222;
      font-size: 0.36rem;
      line-height: 0.52rem;
    }
    .video-item-info {
      margin: 0.18rem 0;
      .avatar {
        width: 0.48rem;
        height: 0.48rem;
        margin-right: 0.12rem;
        border-radius: 50%;
      }
      span {
        margin-right: 0.3rem;
      }
    }
    .video-item-cover {
      position: relative;
      .cover {
        width: 100%;
        border-radius: 0.06rem;
      }

      .title {
        padding: 0.12rem 0.24rem;
        margin: 0 0 0.18rem 0;
        position: absolute;
        top: 0;
        left: 0;
      }

      .info {
        height: 0.36rem;
        line-height: 0.36rem;
        border-radius: 0.18rem;
        background: rgba(0, 0, 0, 0.3);
        position: absolute;
        right: 0.18rem;
        bottom: 0.22rem;
        padding: 0 0.2rem;
      }

      .play {
        width: 0.96rem;
        height: 0.96rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.card {
  &.card-news {
    .card-header {
      margin: 0.48rem 0 0.18rem 0;
      padding: 0 0.3rem 0 0.48rem;
      font-size: 0.4rem;
      line-height: 0.44rem;
      position: relative;
      .nav-link {
        height: 0.4rem;
      }
      &::before {
        display: block;
        content: '';
        width: 0.24rem;
        height: 0.4rem;
        background-color: map-get($colors, primary);
        position: absolute;
        left: 0;
        top: 0.04rem;
      }
    }

    .card-btn {
      height: 0.92rem;
      line-height: 0.92rem;
      font-size: 0.3rem;
      font-weight: 500;
    }
  }
}

.header {
  &.header-channels,
  &.header-articles {
    height: 44px;
    padding: 0.2rem 0.24rem 0.2rem 0.18rem;
    background-color: rgb(83, 123, 255);
    .sep {
      position: relative;
      height: 100%;
      margin: 0 0.2rem;
      &::after {
        display: block;
        content: '';
        width: 0.02rem;
        height: 0.36rem;
        background-color: rgb(224, 242, 255);
        position: absolute;
        right: 0;
        bottom: 0.04rem;
        transform: scaleX(0.5);
      }
    }
  }
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0;
  color: rgb(80, 118, 245);
  font-size: 0.3rem;
  line-height: 0.36rem;
  img {
    margin-left: 0.08rem;
  }
}

footer {
  > div:nth-of-type(1) {
    padding: 0.46rem 0;
  }
}